@model LoaiDichVu

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Areas/Staff/Views/Shared/_LayoutStaff.cshtml";
}

<h1>Edit</h1>

<h4>LoaiDichVu</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="MaLoaiDV" />
            <div class="form-group">
                <label asp-for="TenDV" class="control-label"></label>
                <input asp-for="TenDV" class="form-control" />
                <span asp-validation-for="TenDV" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GiaDV" class="control-label"></label>
                <input asp-for="GiaDV" class="form-control" />
                <span asp-validation-for="GiaDV" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MoTa" class="control-label"></label>
                <input asp-for="MoTa" class="form-control" />
                <span asp-validation-for="MoTa" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Anh" class="control-label"></label>
                <input asp-for="Anh" class="form-control" />
                <span asp-validation-for="Anh" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="TrangThai" /> @Html.DisplayNameFor(model => model.TrangThai)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="MaNV" class="control-label"></label>
                <select asp-for="MaNV" class="form-control" asp-items="ViewBag.MaNV"></select>
                <span asp-validation-for="MaNV" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MaDD" class="control-label"></label>
                <select asp-for="MaDD" class="form-control" asp-items="ViewBag.MaDD"></select>
                <span asp-validation-for="MaDD" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
