@model ThanhPho

@{
    ViewData["Title"] = "Chi tiết thành phố";
    Layout = "~/Areas/CSKH/Views/Shared/_LayoutCSKH.cshtml";
}

<h2 class="mb-4">Chi tiết thành phố</h2>

<div class="card">
    <div class="card-body">
        <dl class="row">
            <dt class="col-sm-3">@Html.DisplayNameFor(model => model.TenThanhPho)</dt>
            <dd class="col-sm-9">@Html.DisplayFor(model => model.TenThanhPho)</dd>
        </dl>

        <a asp-action="Edit" asp-route-id="@Model.MaTP" class="btn btn-warning">Sửa</a>
        <a asp-action="Index" class="btn btn-secondary">Quay lại</a>
    </div>
</div>
